<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/stylesheets/cartstyle.css">
    
</head>

<body>
    <div class="header">
        <% if (user) { %>
            <div class="links">
                <a href="/homePage">Trang chủ</a> |
                <h4 class="welcome-message">Xin chào, <%= user.username %>
                </h4> |
                <a href="/product-table">Cửa Hàng</a> |
                <a href="/myCart">Giỏ hàng</a> |
                <a href="/logout">Đăng xuất</a>
            </div>
            <% } else { %>
                <div class="links">
                    <a href="/homePage">Homepage</a> |
                    <a href="/login">Login</a> |
                    <a href="/register">Register</a>
                </div>
                <% } %>
    </div>

    <div class="container">
        <h2>Shopping Cart</h2>
        <% if (error) { %>
            <p class="error-message" style="color: red;">
                <%= error %>
            </p>
            <% } %>

                <% if (success) { %>
                    <p class="success-message" style="color: green;">
                        <%= success %>
                    </p>
                    <% } %>

                        <% if (cartItems.length> 0) { %>
                            <% cartItems.forEach(item=> { %>
                                <div class="cart-item">
                                    <div>
                                        <h3>
                                            <%=item.name %>
                                        </h3>
                                        <p>Added by: <%= item.username %>
                                        </p>
                                    </div>
                                    <div class="quantity">
                                        Quantity: <%= item.quantity %>
                                    </div>

                                    <form action="/remove-from-cart/<%= item.id %>" method="POST"
                                        style="display: inline;">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>Remove
                                        </button>
                                    </form>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <p>Your cart is empty.</p>
                                        <% } %>
    </div>
</body>

</html>